html {
    scroll-behavior: smooth;
}
body {
    background: black;
    color: white;
    font-family: monospace;
}
.container, 
.miniContainer {
    border: 1px solid rgba(6, 177, 143, 0.175);
    text-align: center;
}
.miniContainer {
    padding: 20px;
}
h1.header {
    color: magenta;
    text-align: center;
    animation: aniHeader 4s infinite;
}
@keyframes aniHeader {
    0% {
        color: magenta;
    }
    40% {
        color: magenta;
    }
    45% {
        color: fuchsia;
    }
    50% {
        color: magenta;
    }
    
    55% {
        color: fuchsia;
    }
    60% {
        color:magenta;
    }
    70% {
        color: fuchsia;
    }
    100% {
        color: magenta;

    }
}
#postImage {
    max-width: 30%;
    height: auto;
    transition: 700ms;
    border-radius: 10px;
}
#postImage:hover {
    border-radius: 20px;
    transition: 700ms;
    opacity: 0.7;
}